# 默认使用pnpm包管理工具，因此需要这个配置
package-manager = pnpm
node-linker = hoisted

# 代理相关，这是我的系统代理设置
ELECTRON_GET_USE_PROXY=true
https-proxy=http://127.0.0.1:9876
http-proxy=http://127.0.0.1:9876
all_proxy=socks5://127.0.0.1:9876
